<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>SHEOUT</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/main.css'>
    <script src='../js/...'></script>
  </head>
  <body>
    <header>
      <div>
        <a href="">
          <img src="/sheout/html/images/LOGO_SHEOUT.png" />
         </a>
      </div>
      <div>
        Hello, Username!
      </br>
      <img src="/sheout/html/images/shoppingCartIcon.png"/>
      </div>
    </header>
    <br/><br/>
    <!-- Header - End -->
    <nav class="nav-menu">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">New Arrivals</a></li>
        <li><a href="#">Clothing</a></li>
        <li><a href="#">Shoes</a></li>
        <li><a href="#">Accessories</a></li>
      </ul>
    </nav>
    
    <div>
        <h1>YOUR ORDERS</h1>
        <header>Old Orders</header>
    </div>
    <br/><br/>

    <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Order Date</th>
          <th>Item Name</th>
          <th>Size</th>
          <th>Quantity</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12345</td>
          <td>05/10/2022</td>
          <td>Blue Dress</td>
          <td>M</td>
          <td>1</td>
          <td>$50.00</td>
          <td><input type="button" value="Order Again"></td>
        </tr>
        <tr>
          <td>12346</td>
          <td>05/15/2022</td>
          <td>Red Sweater</td>
          <td>P</td>
          <td>2</td>
          <td>$40.00</td>
          <td><input type="button" value="Order Again"></td>
        </tr>
        <tr>
          <td>12347</td>
          <td>05/20/2022</td>
          <td>Black Jeans</td>
          <td>L</td>
          <td>1</td>
          <td>$60.00</td>
          <td><input type="button" value="Order Again"></td>
        </tr>
      </tbody>
    </table>


    <div>
        <input type="button" value="Return">
        <input type="button" value="Log-out">
    </div>
    
    <!-- Footer - Begin -->
    <footer>
    <p>&copy; SHEOUT 2023. All rights reserved.</p>
    </footer>
</body>
