<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>SHEOUT</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/main.css'>
    <script src='../js/...'></script>
  </head>
  <body>
    <header>
      <div>
        <a href="">
          <img src="/sheout/html/images/LOGO_SHEOUT.png" />
         </a>
      </div>
      <div>
        Hello, Username!
      </br>
      <img src="/sheout/html/images/shoppingCartIcon.png"/>
      </div>
    </header>
    <br><br>
    <!-- Header - End -->
    <div>
        <span>Vintage Dress</span><br/>
        <span>Dresses</span>
        <span>Cotton</span>
        <span>R$200</span>
        <input type="button" value="Delete"><br/><br/>
        
        <span>Long Skirt</span><br/>
        <span>Skirts</span>
        <span>Silk</span>
        <span>R$500</span>
        <input type="button" value="Delete"><br/><br/>
    </div>

    <div>
        Error message example
    </div><br/>

    <span>New Product</span><br/>
    <form method="post" action="">
        <label for="item">Item: </label><br/>
        <input type="text" name="item" id="item"><br/>

        <label for="description">Description: </label><br/>
        <input type="text" name="description" id="description"><br/>

        <label for="price">Price: </label><br/>
        <input type="text" name="price" id="price"><br/>

        <label for="Caregory">Item category: </label><br/>
        <input type="text" name="category" id="category"><br/>

        <label for="Trending">Trending: </label><br/>
        <input type="checkbox" name="trending" id="trending"><br/><br/>

        <input type="button" value="Add"><br/><br/>
    </form>
</div>

<input type="button" value="Return">
 
    <!-- Footer - Begin -->
        <footer>
            <p>&copy; SHEOUT 2023. All rights reserved.</p>
            </footer>
        </body>
        </html>