<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>SHEOUT</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/main.css'>
    <script src='../js/...'></script>
  </head>
  <body>
    <header>
      <div>
        <a href="">
          <img src="/sheout/html/images/LOGO_SHEOUT.png" />
         </a>
      </div>
      <div>
        Hello, Username!
      </br>
      <img src="/sheout/html/images/shoppingCartIcon.png"/>
      </div>
    </header>
    <br><br>
    <!-- Header - End -->

    <div>
        <h1>ORDER</h1>
        <input type="button" value="Change Status for - Order confirmed"/><br>
        <input type="button" value="Change Status for - Order shipped"/><br>
        <input type="button" value="Change Status for - Order completed"/><br>
    </div><br/><br/>

    <div>
        <span>Client name</span>
        <span>Client address</span>
    </div>
    <br/><br/>

    <div>
        <span>Vintage dress</span>
        <span>Quantity: 1</span>
        <span>R$300</span>
    </div><br/>

    <div>
        <span>Vintage skirt</span>
        <span>Quantity: 2</span>
        <span>R$300</span>
    </div>
    <br/><br/>

    <div>
        <span>Shipping</span>
        <span>R$ 15,00</span>
    </div>
    <br/><br/>

    <div>
        <span>Total</span>
        <span>R$ 315,00</span>
    </div>
    <br/><br/>

    <input type="button" value="Return">  

    <!-- Footer - Begin -->
    <footer>
        <p>&copy; SHEOUT 2023. All rights reserved.</p>
        </footer>
    </body>
    </html>