<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>SHEOUT - Admin</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../css/main.css"
    />
    <script src="../js/..."></script>
  </head>
  <body>
    <header>
      <div>
        <a href="">
          <img src="/sheout/html/images/LOGO_SHEOUT.png" />
        </a>
      </div>
      <div>Hello, Admin Username!</div>
    </header>
    <br /><br />
    <!-- Header - End -->

    <div>
      <h1>Subscription Management</h1>
      <input type="submit" value="Add New Store" /><br />
      <input type="submit" value="Edit Store" /><br />
      <input type="submit" value="Delete Store" /><br />
      <input type="submit" value="View Stores" /><br />
    </div>

    <div>
      <h1>Store Performance Report</h1>
      <input type="submit" value="Top Selling Stores" /><br />
      <input type="submit" value="Low Performing Stores" /><br />
    </div>

    <!-- Footer - Begin -->
    <footer>
      <p>&copy; SHEOUT 2023. All rights reserved.</p>
    </footer>
  </body>
</html>
