<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>SHEOUT</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/main.css'>
    <script src='../js/...'></script>
  </head>
  <body>
    <header>
      <div>
        <a href="">
          <img src="/sheout/html/images/LOGO_SHEOUT.png" />
         </a>
      </div>
      <div>
        Hello, Username!
      </br>
      <img src="/sheout/html/images/shoppingCartIcon.png">
      </div>
    </header>
    <br><br>
    <!-- Header - End -->

    <div class="login-container">
      <h1>It's time for shopping!</h1>
      <form method="post" action="">
        <fieldset>
          <select name="order">
            <option value="price-high">Price: High to low</option>
            <option value="price-low">Price: Low to high</option>
          </select>
          <label><input type="checkbox" name="free-shipping" />Free shipping</label>
          <input type="button" value="Search" />
        </fieldset>
      </form>
    </div>

    <div class="store-logo">
        <img src="images/akStyleStoreLogo.png" />
        <br/>
        <h1>AK Style</h1S>
    </div>

    <div>
        <h1>Ckeck it out:</h1>
    </div>

      <section class="featured-products">
        <div>
        <img src="#"/>
            <br/>
            <span>Blouse 001</span>
            <br/>
            <span>Unique size</span>
            <br/>
            <span>R$ 80,00</span>
            <form method="post" action="">
                <label for="quantity">Quantity: </label>
                <br/>
                <select name="quantity" id="quantity">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <br/><br/>
                <input type="button" value="Add to cart">
            </form>
        </div>

        <div>
          <img src="#"/>
              <br/>
              <span>Blouse 001</span>
              <br/>
              <span>Unique size</span>
              <br/>
              <span>R$ 80,00</span>
              <form method="post" action="">
                  <label for="quantity">Quantity: </label>
                  <br/>
                  <select name="quantity" id="quantity">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                  </select>
                  <br/><br/>
                  <input type="button" value="Add to cart">
              </form>
          </div>

          <div>
            <img src="#"/>
                <br/>
                <span>Blouse 001</span>
                <br/>
                <span>Unique size</span>
                <br/>
                <span>R$ 80,00</span>
                <form method="post" action="">
                    <label for="quantity">Quantity: </label>
                    <br/>
                    <select name="quantity" id="quantity">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    <br/><br/>
                    <input type="button" value="Add to cart">
                </form>
            </div>
      </section>
      <br/><br/>

      <input type="button" value="Return">



    <!-- Footer - Begin -->
    <footer>
        <p>&copy; SHEOUT 2023. All rights reserved.</p>
        </footer>
    </body>
    </html>