<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>SHEOUT</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/main.css'>
    <script src='../js/...'></script>
  </head>
  <body>
    <header>
      <div>
        <a href="">
          <img src="/sheout/html/images/LOGO_SHEOUT.png" />
         </a>
      </div>
      <div>
        Hello, Username!
      </br>
      <img src="/sheout/html/images/shoppingCartIcon.png"/>
      </div>
    </header>
    <br><br>
    <!-- Header - End -->

    <div>
        <h1>Items report</h1>
        <fieldset id="fieldsetFilters">
            <legend>Filters</legend>
            <label for="number">Item: </label><br/>
            <input type="text" name="number" id="number"/><br/>
            <label for="begin">Begin: </label><br/>
            <input type="date" name="begin" id="begin"/><br/>
            <label for="end">End: </label><br/>
            <input type="date" name="end" id="end"/><br/><br/>
            <input type="button" value="Find">
        </fieldset>
    </div>
    <br/><br/>

    <table>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Invoicing</th>
        </tr>
        <tr>
            <td>Dress</td>
            <td>2</td>
            <td>R$ 400,00</td>
        </tr>
        <tr>
            <td>Skirt</td>
            <td>1</td>
            <td>R$ 500,00</td>
        </tr>
        <tr>
            <td>Headscarf</td>
            <td>6</td>
            <td>R$ 1000,00</td>
        </tr>
    </table><br/><br/>

    <input type="button" value="Return">

    <!-- Footer - Begin -->
    <footer>
        <p>&copy; SHEOUT 2023. All rights reserved.</p>
        </footer>
    </body>
    </html>